@font-face {
		font-family: 'Supernatural';
  src: url('fonts/Supernatural.ttf');
}
@font-face {
		font-family: 'Proxima';
  src: url('fonts/ProximaNovaRegular.ttf');
}
body {
	margin:0;
	font-family: 'Supernatural';
}
header {
	width:100%;
	float: left;
}
section {
	display: block;
	width:100%;
	float:left;
}
footer{
	width:100%;
	float: left;
}
.proxi{
	font-family: 'Proxima';
}
.col1, .header, .mainwall, .footer, .details, .explanation, .offers, .galery_comments{
	width: 100%;
	float:left;
}
.background1 {
	background:rgba(0,0,0,0);
	max-width: 100%;
}
.mainwall1{
	width: 100%;
	background-image: url('images/bg1.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 570px;}
.mainwall2{
	width: 100%;
	background-image: url('images/bg3.png');
	background-repeat: no-repeat;
	background-size: cover;
	height: 663px;}
.col100{
	width: 100%;
	float: left;
}
.col1 {
	opacity: 0.99;
}
.col2 {
	padding: 2% 0 5% 15%;
	width: 85%;
	float: left;
	opacity: 0.99;
}
.col4.block2 {
	width:100%;
}
.col4 {
	opacity: 0.99;
	width: 25%;
	padding-right: 15%;
	float: right;
	margin-top:30px;
}
.col60 {
	width: 58%;
	float: left;
	margin-top:1.3%;
	margin-left:1%;
	margin-right: 1%;
	height: 100px;
}
.col50 {
	width: 48%;
	float: left;
	margin-top:1.3%;
	margin-left:1%;
	margin-right: 1%;
	height: 100px;
}
.col502 {
	width:50%;
	float: left;
	background-color: #242424;
	text-align: center;
}
.col40 {
	width: 38%;
	float: left;
	margin-top:1.3%;
	margin-left:1%;
	margin-right: 1%;
	height: 100px;
}
.galery {
	width:450px;
	float: left;
	padding-right:6%;
	margin-bottom:60px;
	margin-top:20px;
}
.comments {
	text-align: center;
	width:32%;
	float:left;
	margin-bottom:40px;
	margin-top:60px;
}
#text2 {
	display: none;
}
.col40, .col50, .col60{	
	max-width: 100%;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.zoom {
	height: 100%;
	margin: 0 auto;
	background-image: url(images/zoom.png);
	background-repeat: no-repeat;
	background-position: center;
	visibility: hidden;
	background-color: transparent;
	opacity: 0;
	cursor: pointer;
	transition: visibility 0.5s linear,opacity 0.5s linear;
	-webkit-transition: visibility 0.5s linear,opacity 0.5s linear;
    -moz-transition: visibility 0.5s linear,opacity 0.5s linear;
    -o-transition: visibility 0.5s linear,opacity 0.5s linear;
}
#wrapper {
	visibility: hidden;
	opacity: 0.77;
	z-index: 10000;
	background-color: #000;
	float: left;
	width: 100%;
	height: 3000px;
	margin-top:-3000px;
}
#second_wrapper {
	display: none;
	z-index: 20000;
	float: left;
	width: 100%;
	height: 2000px;
	margin-top:-2000px;
}
#slider2 {
	margin: 0;
	padding: 0;
}
#galery_image {
	z-index: 10000;
	max-height: 50%;
	width: 100%;
	position:fixed;
	top:5%;
	display: none;
}
#galery_image .bx-next {
	position: fixed;
	right: 100px;
}
#galery_image .bx-prev {
	position: fixed;
	left: 100px;
}
.sub {
	border:0;
	padding:0;
	border-radius: 60px;
	background-color: transparent;
	float: right;
	outline: none;
	cursor: pointer;
}
.border1 {
	height: 1px;
	float: left;
	width:15%;
}
.border2 {
	height: 1px;
	float: left;
	width:11%;
}
.bold {
	font-weight: 500;
}
.large {
	font-size: 140%;
}
.large2 {
	font-size: 1.3em;
}
.large3 {
	font-size: 1.5em;
}
.big {
	font-size: 200%;
}
.big2 {
	font-size: 2.5em;
}
.mid {
	font-size: 1em;
}
.mid2 {
	font-size: 1.1em;
}
.small {
	font-size: 0.75em;
}
.yellow {
	color:#ffbb33;
}
.gray {
	color:#777777;
}
.white {
	color:#fff;
}
.center {
	text-align: center;
}
.title_string {
	display: block;
	padding-bottom: 27px;
}
.highlight_block{
	margin-bottom: 0;
}
#email{
	outline:none;
	background-color: transparent;
	color:white;
	height:55px;
	border:0;
	line-height:55px;
	padding-left:6.5%;
	font-size: 1.3em;
	font-family: 'Proxima';
}
.email_button{
	opacity: 0.99;
	border-radius: 60px;
	height: 58px;
	width:395px;
	border:2px solid white;
}
#message {
	position:absolute; 
	float: left; 
	width: 319px; 
	opacity: 0.99; 
	margin-top: 10px; 
	display: block; 
	color: red; 
	font-size: 1em; 
	font-weight: 500;
	font-family: 'Proxima';
}
.wrapper{
	float:right;
	width: 24%;
}
.white_round_wrapper{
	cursor: pointer;
	text-align: center;
	height: 58px;
	line-height: 58px;
	width: 58px;
	background-color: #fff;
	float: right;
	border-radius: 60px;
}
.white_round_wrapper img{
	vertical-align: middle;
}
.placeholder {
	padding-left:7%;
	line-height: 55px;
	width:68%;
}
.social {
	float: right;
}
.social img {
	padding-left:2px;
}
.social a {
	text-decoration: none;
}
.phone {
	margin-top: 15px;
	float: right;
	width:100%;
	text-align: right;
}
.textblock {
	float: left;
	width:100%;
	text-align: center;
	padding-top:22px;
}
.col1 .textblock {
	padding-top:0;
}
.col1 .textblock img {
	padding-left: 9.5%;
	padding-right: 9.5%;
	max-width: 150px;
}
.img_wrapper {
	display: inline-block;
	width:81px;
	height: 81px;
	padding-left: 3%;
	padding-right: 3%;
}
.block4 {
	display: none !important;
}
.par1{
	display: inline-block;
	width: 135px;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 60px;
}
.par1.spec {
	width: 170px;
	padding-left:0;
	padding-right:0;
}
.par2{
	position: relative;
	width: 216px;
	top:-55px;
	display: inline-block;
	padding-left: 7%;
	padding-right: 7%;
}
.col1 .textblock .last {
	top:-65px;
}
.comments img.photo{
	margin: 0 auto;
	height: 128px;
	width: 128px;
	border: 4px solid #ffbb33;
	border-radius: 100px;
}
.block_comment {
	margin-top:35px;
	float: left;
	width: 100%;
}
.reverse_arrow {
	-moz-transform: rotate(180deg); /* Для Firefox */
    -ms-transform: rotate(180deg); /* Для IE */
    -webkit-transform: rotate(180deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(180deg); /* Для Opera */
    transform: rotate(180deg);
}
.disabled {
	display: none;
}
.control {
	position: relative;
	bottom:55px;
}
.prev {
	right:25px;
}
.next {
	left: 25px;
}
.explain_block{
	padding-top: 22px;
	float: left;
	width:25%;
	padding-left: 5%;
	padding-right: 5%;
	text-align: center;
	height: 200px;
}
.explain_border {
	width:15%;
	float: left;
	height: 200px;
}
.undead {
	position:relative; top:15px;
}
.find-us>ymaps{
	height: 495.6px !important;
	width: 100% !important;
}
#text2{
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Proxima';
}
#text1{
	padding-left: 15%;
	padding-right: 15%;
	font-family: 'Proxima';
}

#slider2 li.active::after{
	content: url('images/close.png');
	cursor: pointer;
	display: block;
	right: 32px;
	top:32px;
	position: absolute;
	z-index: 10000000;
}
#slider2 li::after{
	display: none;
}
footer .col502:nth-child(2) p:nth-child(1){
	padding-top:30px;
	margin-bottom: 20px;
}
footer .col502:nth-child(2) p:nth-child(3){
	padding-top:30px;
	line-height: 35px;
}
footer .col502:nth-child(2) p:nth-child(4){
	padding-bottom:30px;
}
footer .col502:nth-child(2) img{
	padding-left:6px;
	padding-right:6px;
	padding-bottom:50px;
	width:60px;
}
@media screen and (max-width:1036px){
	.img_wrapper {
		padding-left:4%;
		padding-right:4%;
	}
	#text1 {
		display: none;
	}
	#text2 {
		display: block;
		margin-top: 0;
	}
	}
@media screen and (max-width: 1000px){
	.galery {
		margin-left:auto;
		margin-right:auto;
		width:500px;
		padding-right:0;
		float:none;
	}
	.comments {
		width:100%;
	}
}
@media screen and (max-width:900px){
	.explain_border{
		display: none;
	}
	.explain_block{
		width: 40%;
	}
	.explain_block .mid2 {
		font-size: 1em;
	}
	.img_wrapper {
		padding-left:4.5%;
		padding-right:4.5%;
	}
	.border1{
		width:20%;
	}
	.col502 {
		width:100%;
	}
	
	.mainwall1{
		height: 500px;
	}
	.col2 {
		padding-bottom:2%;
	}
	}
@media screen and (max-width:800px){
		.img_wrapper {
		padding-left:5%;
		padding-right:5%;
	}
	}
@media screen and (max-width:650px){
	.mainwall1 {
		height: 450px;
	}
	.par1 {
		width:105px;
	}
	.explain_block .par2{
		width: 120px;
	}
	.col2{
		width: 80%;
		padding-left:10%;
		padding-right:10%;
	}
	.large {
	font-size: 140%;
}
.large2 {
	font-size: 1em;
}
.large3 {
	font-size: 1em;
}
.big {
	font-size: 150%;
}
.big2 {
	font-size: 2em;
}
.mid {
	font-size: 1em;
}
.mid2 {
	font-size: 1.1em;
}
.small {
	font-size: 0.75em;
}
}
@media screen and (max-width: 600px){
	.email_button {
		width:100%;
	}
}
@media screen and (max-width:500px){
	.galery{
		width:450px;
	}
	.large {
	font-size: 120%;
}
.mid {
	font-size: 0.9em;
}
		.img_wrapper {
		padding-left:6%;
		padding-right:6%;
	}
	}
@media screen and (max-width:450px){
	.galery {
		width: 400px;
	}
}
@media screen and (max-width:420px){
	.explain_block{
		width: 90%;
		height: auto;
	}
	.mainwall2 {
		height: 1200px;
	}
	.explain_block .par2 {
		width: 86%;
	}
	  .church {
		margin-left: -12px;
	}
		.pointer {
			margin-left: -18px;
		}
	.zombie {
		margin-left: -25px;
	}
	.undead {
		margin-right: -12px;
	}
		.large {
	font-size: 100%;
}
.mid {
	font-size: 0.8em;
}
.small {
	font-size: 0.6em;
}
	.block4 {
		display: inline-block !important;
		width: 100%;
		padding-bottom: 20px;
	}
	.block3 {
		display: none !important;
	}
}